[Unit]
Description=Servico para marcar escritas no disco.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root 
ExecStart=/usr/bin/env bash /scripts/events.sh 

[Install]
WantedBy=multi-user.target