[defaults]
host_key_checking = False
inventory = ./inventory/hosts.yaml
remote_user = vagrant
private_key_file = /home/adenilson/.ssh/id_rsa
                                         
#[inventory]
#enable_plugins = aws_ec2, host_list, script, yaml, ini, auto, toml                                       